/MovieUpdate/*.dcu
/Pajak/*.bak
/Pajak/*.dcu
/Pajak/*.~ddp
/Pajak/*.~dfm
/Pajak/*.~pas
/SonglistUpdate/*.~dfm
/SonglistUpdate/*.~ddp
/SonglistUpdate/*.~pas
/SonglistUpdate/*.dcu
/SongUpdate/*.dcu
/*.bak
/*.dcu
/*.~ddp
/*.~dfm
/*.~dpr
/*.~pas
/*.~rc
/laporan.~ra
/Vizta.exe
